<!-- Table to display product data -->
<div class="admin-table-container">
  <table class="table">
    <thead>
      <tr>
        <!-- Button to delete selected products -->
        <th><button class="header-delete-button" (click)="confirmDelete()">Delete Selected</button></th>
        <th>ID</th>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <!-- Loop through allProducts and create a row for each product -->
      <tr *ngFor="let product of allProducts; let i = index">
        <!-- Checkbox to select/deselect a product -->
        <td><input type="checkbox" [(ngModel)]="product.selected"></td>
        <td>{{ product.prod_id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.quantity }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Gap between table and chart -->
<div class="gap"></div>

<!-- Container for the chart -->
<div class="chart-container">
  <!-- Vertical bar chart component from ngx-charts library -->
  <ngx-charts-bar-vertical
    [view]="view"
    [scheme]="colorScheme"
    [results]="chartData"
    [gradient]="false"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="false"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="'Products'"
    [yAxisLabel]="'Quantity'">
  </ngx-charts-bar-vertical>
</div>