.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #162328; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  color: #3FC060;
  font-weight: bold;
}

h2 {
  color: #3FC060;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: grid;
  grid-gap: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #3FC060;
  font-weight: bold;
}

select, input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

select:disabled, input:disabled {
  background-color: #f0f0f0;
  color: #bbb;
}

button {
  width: 100%;
  padding: 12px 15px;
  border: none;
  border-radius: 5px;
  background-color: #3FC060;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #35ac53;
}

button:disabled {
  background-color: #bbbbbb;
}

.error-message {
  color: red;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 15px;
  }
  .current-details {
    margin-bottom: 20px; 
    color: #FFF; 
  }
  
  .detail-label {
    font-weight: bold;
    color: #3FC060; 
  }

  .current-value {
    color: #3FC060; 
    font-weight: bold; 
  }
  
}
